* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}
.main {
  background-image: url(../images/main_bg_14.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 45px 55px;
  background-color: #007ced;
  background-attachment: fixed;
}
.main .about {
  height: auto;
  background-color: #222;
  border-radius: 40px;
/*   max-width: 1320px; */
}

::-webkit-scrollbar {
  background-color: white;
  width: 7px;
}

/* =======================================navbar===================================== */
.main .about nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 50px 35px;
}
.main .about .left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
}
.main .about .left-nav .left-in {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .about .left-nav .bar {
  display: none;
}
.main .about nav h1 {
  background-color: #007ced;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: white;
  font-weight: 800;
  margin: 0 10px 0 0;
  font-size: 17px;
}
.main .about nav h5 {
  color: white;
  font-size: 18px;
}
.main .about nav h5 span {
  font-weight: 700;
  font-size: 20px;
}
.main .about .right-nav {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .about .right-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .about .right-nav ul li {
  list-style: none;
}
.main .about .right-nav ul li a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 15px;
  margin-left: 60px;
  transition: all 0.5s;
  opacity: 0.55;
}
.main .about .right-nav ul li a:hover {
  color: #f5f5f5;
  opacity: 1;
}

/* ============================= animation bar ============================= */

.menu-icon .line-2 {
  margin: 3.5px 0;
}

.menu-icon {
  cursor: pointer;
  /* width: 50px; */
  /* height: auto; */
}

.menu-icon .line-1,
.menu-icon .line-2,
.menu-icon .line-3 {
  height: 2px;
  width: 25px;
  background-color: #3f6ad8;
  border-radius: 1px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease-in-out;

  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.menu-icon .line-1.active {
  animation-name: line-1-nex;
}
.menu-icon .line-2.active {
  animation-name: line-2-nex;
}
.menu-icon .line-3.active {
  animation-name: line-3-nex;
}

.menu-icon .line-1.deactive {
  animation-name: line-1-prev;
}
.menu-icon .line-2.deactive {
  animation-name: line-2-prev;
}
.menu-icon .line-3.deactive {
  animation-name: line-3-prev;
}

@keyframes line-1-nex {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(15px) rotate(0deg);
  }
  100% {
    transform: translateY(6px) rotate(45deg);
  }
}
@keyframes line-2-nex {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes line-3-nex {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-15px) rotate(0deg);
  }
  100% {
    transform: translateY(-6px) rotate(135deg);
  }
}
@keyframes line-1-prev {
  0% {
    transform: translateY(15px) rotate(45deg);
  }
  50% {
    transform: translateY(15px) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
@keyframes line-2-prev {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes line-3-prev {
  0% {
    transform: translateY(-15px) rotate(135deg);
  }
  50% {
    transform: translateY(-15px) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
.active2 {
  display: none !important;
}
/* =======================================heading===================================== */

.heading {
  color: #f5f5f5;
  margin-bottom: 50px;
  position: relative;
  display: inline-flex;
}
.heading::after {
  content: "";
  background-color: #353535;
  width: 100%;
  position: absolute;
  height: 2px;
  left: 0;
  bottom: -7px;
}
.heading::before {
  content: "";
  background-color: #007ced;
  width: 30%;
  position: absolute;
  height: 2px;
  left: 0;
  bottom: -7px;
  z-index: 1;
}

/* =======================================footer===================================== */

.main .about footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid #333333;
  height: 60px;
  padding: 0px 50px;
  background-color: #252525;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.main .about footer .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .about footer .social-icon a {
  color: #dddddd;
  text-decoration: none;
  margin: 0 6px;
  transition: all 0.5s;
}
.main .about footer .social-icon a:hover {
  color: white;
}
.main .about footer .social {
  color: #dddddd;
  font-size: 14px;
}
.main .about footer .social-icon .soci {
  position: relative;
  transition: all 0.5s;
}
.main .about footer .social-icon .soci:hover .soci-img {
  opacity: 1;
  top: -20px;
}
.main .about footer .social-icon .soci .soci-img {
  position: absolute;
  top: -10px;
  opacity: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.main .about footer .social-icon .soci .soci-img img {
  width: 25px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  /* for main  */
  .main {
    padding: 0;
  }
  .main .about {
    border-radius: 0;
    height: auto;
  }
  .heading {
    font-size: 20px !important;
  }
  .main .about nav {
    flex-direction: column;
    position: relative;
    box-shadow: 0px 15px 10px -15px #007ced;
    height: auto;
    padding: 10px 25px !important;
  }
  .main .about .left-nav {
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
  }
  .main .about .left-nav .bar {
    display: block;
  }
  .main .about .right-nav {
    width: 90%;
    overflow: hidden;
    height: 0px;
    transition: all 0.5s;
    position: absolute;
    top: 93px;
    display: block;
    background-color: #252525;
    z-index: 999;
  }
  .main .about .right-nav.mahis {
    height: 220px;
  }
  .main .about .right-nav ul {
    height: 200px;
    flex-direction: column;
    padding: 10px;
    align-items: start;
  }
  .main .about .right-nav ul li {
    padding: 10px 20px;
    width: 100%;
    transition: all 0.5s;
  }

  .main .about .right-nav ul li a {
    margin: 0;
    text-decoration: underline #007ced;
  }
  footer {
    flex-direction: column;
    height: auto !important;
    border-radius: 0 !important;
    padding: 20px 0 !important;
  }
  footer .social-icon {
    margin-bottom: 10px;
  }
}
